@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

@import "tailwindcss";

@font-face {
  font-family: 'URW Gothic L';
  src: url('./assets/fonts/URW_Gothic_L.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-anomaly-blue-50: #f0f8fe;
  --color-anomaly-blue-100: #ddedfc;
  --color-anomaly-blue-200: #c3e1fa;
  --color-anomaly-blue-300: #9acff6;
  --color-anomaly-blue-400: #6ab5f0;
  --color-anomaly-blue-500: #4797ea;
  --color-anomaly-blue-600: #327bde;
  --color-anomaly-blue-700: #2966cc;
  --color-anomaly-blue-800: #2752a3;
    --color-anomaly-blue: #2752a3;
  --color-anomaly-blue-900: #254883;
  --color-anomaly-blue-950: #1b2d50;

  --color-reality-yellow-50: #fdf9e9;
  --color-reality-yellow-100: #faf1c7;
  --color-reality-yellow-200: #f7e191;
  --color-reality-yellow-300: #f2c952;
  --color-reality-yellow-400: #ecaf20;
  --color-reality-yellow: #ECAF20;
  --color-reality-yellow-500: #dc9916;
  --color-reality-yellow-600: #be7510;
  --color-reality-yellow-700: #985310;
  --color-reality-yellow-800: #7e4315;
  --color-reality-yellow-900: #6b3718;
  --color-reality-yellow-950: #3e1b0a;

  --color-agency-red-50: #fef2f3;
  --color-agency-red-100: #fee2e4;
  --color-agency-red-200: #fecace;
  --color-agency-red-300: #fba6ad;
  --color-agency-red-400: #f7727d;
  --color-agency-red-500: #ee4553;
  --color-agency-red-600: #ca2230;
  --color-agency-red: #ca2230;
  --color-agency-red-700: #b81d2a;
  --color-agency-red-800: #981c26;
  --color-agency-red-900: #7e1e26;
  --color-agency-red-950: #450a0f;

  --color-deep-purple: #251c46;
}

:root {
  --nav: 3rem;
}

@layer utilities {
  .font-roboto {
    font-family: 'Roboto';
  }
  .font-poppins {
    font-family: 'Poppins';
  }
  .font-urw {
    font-family: 'URW Gothic L';
  }

  .h-nav { height: var(--nav); }
  .h-screen-minus-nav { height: calc(100vh - var(--nav)) }
}

body {
  font-family: 'Poppins';
  color: #251c46;
  background-color: #CA2230;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'URW Gothic L';
}

div {
  box-sizing: border-box;
}

input, textarea {
  @apply
  focus:outline-none
}

textarea {
  @apply
  resize-none
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 12px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #888;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-clip: padding-box;
}